
:root{
  --lightColor:#fff;
  --darkColor: #eaeaea;
  --buttonColor: #000;
  --borderColor: #d0d0d0;
  --headingColor: #000; 
  --textColor: #656a6f;
  --circleColor: #21282f;
}

.notes_heading {
  text-align: center;
  font-family: 'Lobster Two', cursive;
  color: var(--headingColor);
}

.notes {
  /* border: 2px solid red; */
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 50px;
  height: 56vh;
}

.note {
  /* border: 2px solid blue; */
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/note.gif');
  color: #fff !important;
}

.note h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.note p {
  color: var(--lightColor);
  font-size: 18px;
}

.img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10;
}

.addBtn {
  border: 0;
  /* padding: 10px 20px; */
  font-size: 50px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: var(--buttonColor);
  color: var(--lightColor);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.shareBtn, .shareBtn1 {
  width: 50px;
  height: 50px;
  z-index: 12;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 40px;
}

.shareBtn1 {
  margin-right: 100px;
}

@media screen and (max-width: 1120px) {

  .notes {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 820px) {

  .notes {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 730px) {

  .search {
    width: 80%;
  }

}